#home-div {
  /* height: 2000px ; */
  width: 100%;
  background: linear-gradient();
  transition: background 0.1s;
}
#navbar {
  height: 8vh;
  border-left: none;
  border-right: none;
  background: linear-gradient(
    to left,
    rgb(3, 3, 119),
    rgba(100, 100, 100, 0) 80%
  );
  display: flex;
}
#navbar2 {
  width: 50%;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
#splittext {
  width: fit-content;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}
#profile {
  width: 400px;
  height: 450px;
}
#icons {
  margin: 10px 0;
  width: 200px;
}
#icons i {
  padding: 0 30px;
  transition: ease 0.5s;
  color: rgb(130, 23, 138);
}
#icons i:hover {
  color: white;
  transform: scale(1.3);
  transition: ease 0.3s;
}
.swiper {
  height: 200px;
  padding: 50px 10;
}
.cards .card {
  width: 150px;
  height: 100px;
  transition: linear 0.3s;
}
.cards .card:hover {
  transform: scale(1.1);
  transition: linear 0.3s;
  box-shadow: 2px 2px 12px white;
}

.paragraph {
  border: 3px solid rgba(250, 245, 245, 0.792);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(100, 9, 191, 0.093);
}
#degree {
  width: 100%;
  height: 150px;
  position: relative;
  justify-content: end;
  align-items: center;
  display: flex;
}
#degree img,#school img{
  background-color: white;
  border-radius: 10px;
  padding: 5px;
}
#school {
  width: 100%;
  height: 150px;
  position: relative;
  justify-content: start;
  display: flex;
}
#degree-sub,
#school-sub {
  height: 100%;
  position: absolute;
  width: 65%;
  color: beige;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
}
#degree-content {
  border: 3px double rgba(221, 201, 239, 0.844);
  border-radius: 50px;
  width: 90%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
}
#degree h4,#school h4{
font-size: 20px;
}
h3 {
  color: rgb(111, 111, 226);
  text-align: center;
}
/* From Uiverse.io by KlaujonRuamni */
.beautiful-button {
  position: relative;
  display: inline-block;
  background: linear-gradient(to bottom, #1b1c3f, #4a4e91);
  color: white;
  font-family: "Segoe UI", sans-serif;
  font-weight: bold;
  font-size: 15px;
  border: none;
  border-radius: 30px;
  padding: 14px 28px;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  animation: button-shimmer 2s infinite;
  transition: all 0.3s ease-in-out;
  height: 40px;
  align-items: center;
  display: flex;
  /* Smooth transition */
}
#h5 {
  text-align: justify;
  padding: 20px;
  border-radius: 10px;
  background: linear-gradient(35deg, #02075c, #3e0146);
}

/* Hover animation */
.beautiful-button:hover {
  background: linear-gradient(to bottom, #2c2f63, #5b67b7);
  animation: button-particles 1s ease-in-out infinite;
  transform: translateY(-2px);
}

/* Click animation */
.beautiful-button:active {
  transform: scale(0.75);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

/* Shimmer animation */
@keyframes button-shimmer {
  0% {
    background-position: left top;
  }

  100% {
    background-position: right bottom;
  }
}

/* Particle animation */
@keyframes button-particles {
  0% {
    background-position: left top;
  }

  100% {
    background-position: right bottom;
  }
}
.button2nd {
  width: 400px;
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  #navbar {
    flex-basis: 1;
    width: 100%;
  }
  #navbar2 {
    width: 70%;
  }
}

@media screen and (max-width: 425px) {
  #navbar {
    flex-basis: 1;
    width: 100%;
  }
  #navbar2 {
    width: 100%;
  }
  .button2nd {
    width: 300px;
    flex-basis: 2;
  }
  .beautiful-button {
    font-size: small;
  }
  .navbar-button {
    font-size: 15px !important;
    color: red;
    width: 50px;
    height: 50px;
  }
  #profile {
    width: 300px;
    height: 350px;
  }
  .techskill-div {
    width: 300px !important;
    height: 250px !important;
  }

  .cards .card h5 {
    font-size: 10px !important;
    text-align: center;
    margin-top: 5px;
  }
  h4 {
    font-size: small;
  }
}
/* From Uiverse.io by mrtqzbek11 */
.navbar-button {
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 17px;
  border-radius: 1rem;
  border: transparent;
  position: relative;
  transition: 0.1s;
  background-color: transparent;
  color: white;
}
.techskill-div {
  padding-left: 20px;
  color: white;
  border: 2px solid rgb(12, 50, 145);
  border-radius: 20px;
  border-right: 2px solid rgb(121, 13, 124);
  border-left: 2px solid rgb(121, 13, 124);
  width: 500px;
  height: 200px;
  padding: 10px;
}
.techskill-div img {
  width: 30px !important;
  height: 30px;
}
h5 {
  font-size: small;
}

.navbar-button::after {
  content: "";
  width: 100%;
  height: 100%;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgb(119, 3, 113) 17.8%,
    rgb(17, 7, 163) 100.2%
  );
  filter: blur(15px);
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  border: transparent;
}

.navbar-button:hover {
  transform: scale(0.9) rotate(1deg);
  background: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgb(119, 3, 113) 17.8%,
    rgb(17, 7, 163) 100.2%
  );
  transition: 0.7s;
}
